@import "./reset.css";
@import "./variables.css";

body {
  width: 100vw;
  .container {
    margin-inline: auto;
    background-color: var(--white);
    padding-top: 54px;
    padding-bottom: 74px;
    max-width: 640px;
    box-sizing: border-box;
    overflow: auto;
  }
}
