.playContainer {
  display: flex;
  flex: 1;
  background-color: var(--white);
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
.gameStartCountdown {
  margin-top: 2rem;
  text-align: center;
  h3 {
    font-size: var(--font-5);
    font-weight: bold;
    color: var(--black);
  }
  span {
    color: var(--main-red);
  }
}

.shuffle {
  text-align: center;
  p {
    color: var(--black);
    font-size: var(--font-5);
    font-weight: bold;
  }
}
.cardContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: var(--space-2);
}

.card {
  border-radius: var(--space-1);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.frontSide {
  background-color: var(--white);
  border: 2px solid var(--main-blue);

  p {
    font-size: var(--font-number-game);
    font-weight: bold;
  }
}
.noNumber {
  background-color: var(--light-gray);
  border: 2px solid var(--light-gray);
}

.backSide {
  background-color: var(--main-blue);
  border: 2px solid var(--light-gray);
  img {
    width: 200px;
  }
}

.first {
  width: 100px;
  height: 132px;
}

.second {
  width: 74px;
  height: 98px;
}

.third {
  width: 74px;
  height: 98px;
}

.fourth {
  width: 60px;
  height: 74px;
}

@media (max-width: 376px) {
  .first {
    width: 74px;
    height: 98px;
  }
  .second {
    width: 60px;
    height: 74px;
  }

  .third {
    width: 55px;
    height: 68px;
  }

  .fourth {
    width: 50px;
    height: 62px;
  }
  .grid {
    gap: var(--space-1);
  }
  .frontSide {
    p {
      font-size: var(--font-game-inform);
    }
  }
}

@media (min-width: 641px) {
  .grid {
    gap: var(--space-4);
  }
  .third {
    width: 70px;
    height: 83px;
  }
}
