.cardContainer {
  width: 100%;
  padding: var(--space-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: var(--space-1);
}

.card {
  border-radius: var(--space-1);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.frontSide {
  background-color: var(--white);
  border: 2px solid var(--main-blue);

  p {
    font-size: var(--font-number-game);
    font-weight: bold;
  }
}
.noNumber {
  border: 2px solid var(--light-gray);
}

.backSide {
  background-color: var(--main-blue);
  border: 2px solid var(--light-gray);
  img {
    width: 200px;
  }
}
