.currentScore {
  width: 100%;
  padding-block: 1rem;
  background-color: var(--main-yellow);
  text-align: center;

  h3 {
    font-size: var(--font-3);
    margin-bottom: var(--space-1);
  }
  p {
    font-size: var(--font-5);
    font-weight: bold;
  }
}
