.container {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: var(--space-1);

  background-color: #fff;

  padding-top: 1rem;
  p{
    font-weight: bold;
  }
}

.timer {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--main-red);
  border-radius: 10px;
  transition: none;
}

.marker {
  position: absolute;
  top: 50%;
  transform: translate(-40%, -20%);
  width: 52px;
  height: 52px;
  pointer-events: none;
  z-index: 10;
}
