.container {
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  z-index: 1000;
  top: 0;

  height: 100%;
  width: 100%;
  max-width: 640px;
  margin-inline: auto;
  box-sizing: border-box;
  padding: 0 var(--space-4);
}
.wrapper {
  background-color: var(--white);

  position: relative;

  box-sizing: border-box;
  width: 100%;
  max-width: 420px;
  height: 426px;

  padding-top: var(--space-5);
  border-radius: var(--border-3);

  button {
    position: absolute;
    right: 1.2%;
    top: 1%;
  }
}
