.container{

  background-color: var(--dark-gray);

  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.cardSection{
  background-color: var(--light-gray);
  flex: 1;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .card{
    width: 70%;
    height: 50%;
    background-color: var(--white);
    border-radius: 10px;

    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    p{
      font-size: 8rem;
      font-weight: bold;
    }
  }
}

