.container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--main-blue);
}

.cardWrap{
  width: 100%;
  min-width: 350px;

  background-color: var(--white);
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-bottom: 1rem;
}

.cardWrap h1{
  font-weight: bold;
  font-size: var(--font-5);
  margin-bottom: 2rem;
}

.pendingText{
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;

  .emailText{
    font-size: var(--font-5);
  }
}

.resendButton{
    font-size: var(--font-4);
    line-height: 1; 
    font-weight: bold;
    text-decoration: underline;
  }

.resendWrap{
  height: 50px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.errorMessage {
  color: var(--main-red);
  font-size: var(--font-2);
  font-weight: bold;
  text-align: center;
  user-select: none;
  margin-bottom: 0.5rem;
}

.successMessage {
  color: #0f13fa; 
  font-size: var(--font-2);
  font-weight: bold;
  text-align: center;
  user-select: none;
  margin-bottom: 0.5rem;
}

.actionRow{
  margin-bottom: 1rem;
}