.container {
  background-color: var(--white);
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-2);

  .gameName {
    color: var(--black);
    font-size: var(--font-header);
  }
  .shareScore {
    color: var(--black);
    font-size: var(--font-game-inform);
    font-weight: 700;
  }
  p {
    color: var(--black);
    font-size: var(--font-4);
    text-align: center;
    margin-bottom: var(--space-2);
  }

  a {
    width: 100%;
    max-width: 310px;
    text-align: center;
  }
  button {
    background: var(--main-yellow);
    padding: var(--space-2, 15px) 60px;
    width: 100%;
    border-radius: 10px;

    &:hover {
      box-shadow: var(--inset-shadow);
    }
  }
}
.modal {
  background-color: var(--main-red);
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}
